
h1 {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.homeButton {
  margin-right: 10px;
}
.productButton {
  margin-right: 10px;
}
.signupButton {
  margin-right: 10px;
  margin-left: 10px;
}
.signupSubmit {
  margin-top: 10px;
}
.buyButton {
  margin-left: 130px;
}
.searchButton {
  margin-left: 10px;
}
img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.formulario {
  padding-right: 100px;
}

